{% extends 'blog/main.html' %}
{% block title %} O mnie | MMblog {% endblock %}
{% block content %}

<div class="block-content">

    <div class="article left-slide">
        <h1>O mnie</h1>

        <div class="article-holder">
            <article>
                <p>Cześć, mam na imię Mateusz. W czerwcu 2020 roku zacząłem programować w Pythonie. Postanowiłem założyć ten blog aby dzielić się swoimi postępami i prezentować tu swoje projekty. Do tej pory rozpocząłem naukę: Django, HTML, CSS, Bootstrap, PostgreSQL, AWS, testowania, JS, podstaw sieci komputerowych. W najbliższej przyszłości planuję zgłębić tematy związane z wzorcami projektowymi, algorytmami, Flaskiem.</p>
            </article>
        </div>
    </div>
</div>

{% endblock %}