{% extends 'blog/main.html' %}

{% block content %}

<div class="block-content">
    {% for post in posts %}
        {% if forloop.counter|divisibleby:2 %}
            <div class="article even">
        {% else %}
            <div class="article odd">
        {% endif %}
                <header>
                    <h1><a href="{% url 'MMblog:post_details' slug=post.slug %}"> {{post.title}} </a></h1>
                    <h4><i class="icon-calendar"></i> {{post.published_date.day}}/{{post.published_date.month}}/{{post.published_date.year}} <h4>
                    <div class="article-img">
                        <a href="{% url 'MMblog:post_details' slug=post.slug %}">
                            <img src={{ post.post_img.url }} alt="{{ post.title }}">
                        </a>
                    </div>
                </header>
                <div class='article-holder'>
                    <article>
                        {{ post.post_pre_content }}
                    </article>
                </div>
                <div class='more_button'>
                    <h5><a href="{% url 'MMblog:post_details' slug=post.slug %}">Czytaj więcej</a></h5>
                </div>
            </div>
    {% endfor %}


    {% if posts.paginator.num_pages > 1 %}
        <div id="pagination">
            <ol>
                {% if posts.has_previous %}
                    <li><strong><a href="?page=1"><<</a></strong></li>
                    <li><strong><a href="?page={{ posts.previous_page_number }}"><</a></strong></li>
                {% endif %}

                {% for page in posts.paginator.page_range %}
                    {% if posts.number == page %}
                        <li class="current"><strong>{{ page }}</strong></li>
                    {% elif page > posts.number|add:'-2' and page < posts.number|add:'2' %}
                        <li><a href="?page={{page}}">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if posts.has_next %}
                    <li><strong><a href="?page={{ posts.next_page_number }}">></a></strong></li>
                    <li><strong><a href="?page={{ posts.paginator.num_pages }}">>></a></strong></li>
                {% endif %}
            </ol>
        </div>
    {% endif %}
    
    
</div>

{% endblock %}