{% extends 'blog/main.html' %}
{% block title %} Kontakt | MMblog {% endblock %}
{% block content %}

<div class="block-content">

    <div class="article left-slide">
        <h1>Kontakt</h1>

        <div class="article-holder">
            <article>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt pariatur eligendi reprehenderit ab ducimus facilis recusandae atque amet dolore, quaerat non mollitia dolores necessitatibus alias et fugit quis iste cum eveniet voluptatibus. Ratione nostrum necessitatibus aspernatur eveniet cumque dolores optio deleniti delectus mollitia ipsam, labore ut, pariatur odio aliquid ad?</p>
            </article>
        </div>
    </div>
</div>

{% endblock %}