{% extends 'blog/main.html' %}
{% block title %} Kontakt | MMblog {% endblock %}
{% block content %}

<div class="block-content">

    <div class="article left-slide">
        <h1>Skontaktuj się</h1>

        <div class="article-holder">
            <article>
                <p>Treści prezentowane na blogu nie zaspokoiły Twojej ciekawości, masz odnośnie nich pytania, chcesz zaproponować współpracę? Serdecznie zapraszam do kontaktu pod adresem e-mail: mateuszmikulski2@gmail.com</p>
            </article>
        </div>
    </div>
</div>

{% endblock %}