<div id="navbar">

    <ul class="menu">
        <span id="menu-left">
            <li><a href="{% url 'MMblog:about_me' %}">O mnie</a></li>
            <li><a href="{% url 'MMblog:home' %}">Blog</a></li>
            <li><a href="{% url 'MMblog:projects' %}">Projekty</a></li>
            <li><a href="{% url 'MMblog:contact' %}">Kontakt</a></li>
        </span>
        <span id="menu-right">
            <li><a href='https://github.com/MateuszM-M' target='blank'><i class="icon-github-circled-alt2"></i></a></li>
        </span>
    </ul>

</div>