{% extends 'blog/main.html' %}
{% block title %} Moje projekty | MMblog {% endblock %}
{% block content %}

<div class="block-content">

    <div class="article left-slide">
        <h1>Moje projekty</h1>

        <div class="article-holder">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt pariatur eligendi reprehenderit ab ducimus facilis recusandae atque amet dolore, quaerat non mollitia dolores necessitatibus alias et fugit quis iste cum eveniet voluptatibus. Ratione nostrum necessitatibus aspernatur eveniet cumque dolores optio deleniti delectus mollitia ipsam, labore ut, pariatur odio aliquid ad?</p>
        </div>



        <h2>SocialFeed</h2>
        <div class="article-holder">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid dolores mollitia, officiis eveniet, amet, veniam rem veritatis a ullam eos enim earum impedit voluptatem. Assumenda corporis facilis saepe similique pariatur.
            Sed mollitia repellendus ipsa, corporis accusantium libero facilis repudiandae consequuntur repellat ipsum a magnam aut dignissimos! Voluptatem quasi deleniti, id sit nihil repudiandae quos laudantium dolor fugit impedit molestias labore.
            Ab quidem sint exercitationem ipsum unde iste veritatis eius itaque, voluptatibus est accusamus quia eaque quas amet repellat neque fuga nemo nam, sunt, recusandae hic! Facilis laborum iure consequatur delectus?</p>
        </div>
    


        <h2>Kolejny Projekt</h2>
        <div class="article-holder">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non exercitationem iure voluptas cumque. A cupiditate dolores fugit magnam qui voluptatum?
            Inventore officiis sit necessitatibus ducimus reiciendis, fugit cum aut, nihil rem pariatur quibusdam temporibus quod quaerat corrupti placeat quae odio!
            Aspernatur quidem eligendi aut ea cum saepe alias animi aperiam dignissimos, sequi illo labore est dicta quos qui cumque autem.
            Error voluptas nisi sapiente iste nihil, praesentium libero, unde, ea assumenda accusantium dolor reprehenderit rerum molestiae architecto hic? Doloremque, consequatur.</p>
        </div>
    </div>
</div>

{% endblock %}