{% extends 'blog/main.html' %}
{% block title %} Moje projekty | MMblog {% endblock %}
{% block content %}

<div class="block-content">

    <div class="article left-slide">
        <h1>Moje projekty</h1>

        <div class="article-holder">
            <p>Poniżej przedstawiam projekty, nad którymi pracuję:</p>
        </div>



        <h2>MMblog</h2>
        <div class="article-holder">
            <p>Blog na którym prezentuję swoje projekty i opisuję w jaki sposób uczę się programowania.</p>
        </div>
    


        <h2>SocialFeed</h2>
        <div class="article-holder">
            <p>Kolejnym projektem, nad którym mam zamiar pracować jest portal społecznościowy.</p>
        </div>
    </div>
</div>

{% endblock %}