{% extends 'blog/main.html' %}
{% block title %} {{post.title}} | MMblog {% endblock %}
{% block content %}

<div class="block-content">

    <div class="article">
        <header>
            <h1><a href="{% url 'MMblog:viewing_post' slug=post.slug %}">{{ post.title }}</a></h1>
            <h4><i class="icon-calendar"></i> {{post.published_date.day}}/{{post.published_date.month}}/{{post.published_date.year}}<h4>
            <div class="article-img">
                <a href="{% url 'MMblog:viewing_post' slug=post.slug %}">
                    <img src= '{{ post.post_img.url }}' alt="{{post.title}}">
                </a>
            </div>
        </header>
        <div class='article-holder'>
            <article>
               {{ post.post_content|safe }}
        </div>
                <section>
                    <div id="comments">
                        <div class="article-holder">
                            <hr>
                            <h3>KOMENTARZE:</h3>

                            {% for comment in post.comments.all %}
                                <article>
                                    <div class="comment">
                                        <div class="com_author">
                                            <strong>{{ comment.author }}</strong> &nbsp; &nbsp; &nbsp;
                                        </div>
                                        <div class="com_date">
                                            {{ comment.created_date.hour }}:{{ comment.created_date.minute }} {{ comment.created_date.day }}/{{ comment.created_date.month }}/{{ comment.created_date.year }}
                                        </div>
                                        <div class="com_content">
                                            <p>{{ comment.comment_content|linebreaksbr }}</p>
                                        </div>
                                    </div>
                                </article>
                            {% endfor %}
                        </div>
                        <div class="article-holder">
                            <form method="POST" >
                                {% csrf_token %}
                                {{ comment_form.comment_content }}
                                <br>
                                {{ comment_form.author }}
                                <input id="submitbtn" type="submit">
                            </form>
                        </div>
                    </div>
                </section>
            </article>
        
    </div>


</div>


{% endblock %}